body{
  background-image : url("https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true");
}

div {
display: flex; 
width: 30%;  
justify-content: space-between;
} 
