body{
  background-image : url("https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true");
}

div {
display: flex; 
width: 30%;  
justify-content: space-between;
font-family:'blanchcapslight', blanch; 
font-size: 20px
} 



.nessst {
margin-left: 30px;
margin-top: 20px; 
} 

.social-media {
width: 23px;
height: 23px; 
border-radius: 25%;
float: right;   
margin: 20px 32px 0px -25px;
}

.lr {
font-size: 11px;
float: right;   
margin: 50px -36px 0px -23px;
padding: 3px; 
font-family:'blanchcapslight', blanch; 
opacity: 0.3;
}
